@import "./src/variables";

.header {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navigate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px
}

.text {
  color: $green;
  font-size: 14px;
  &:hover {
    cursor: pointer;
  }
}

.dropDownWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.openner {
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.dropDown {
  display: none;
  padding: 4px 10px;
  position: absolute;
  width: 150px;
  top: 25px;
  right: 0;
  background-color: $grey;
  border-radius: 4px;
  &.open {
    display: block;
  }
  & p {
    margin: 0;
    &:hover {
      cursor: pointer;
    }
  }
}