@import './src/variables';

.mainSection {
  position: relative;
  height: 423px;
  background-color: $grey;
  border-top: 1px solid transparent;
}

.mainPhoto {
  position: absolute;
  right: 0;
}


h1 {
  font-family: 'Acumin Bold', sans-serif;
  font-size: 32px;
  margin-top: 85px;
}

h2 {
  font-family: 'Acumin Bold', sans-serif;
  color: $green;
  font-size: 36px;
  margin-top: 65px;
  margin-bottom: 60px;
}

h3 {
  font-family: 'Acumin Bold', sans-serif;
  font-size: 36px;
}

.infoText {
  color: $green;
  font-size: 24px;
}

.btnMain {
  background-color: $green;
  color: white;
  font-size: 32px;
  width: 400px;
  height: 60px;
  &:hover {
    background-color: rgba($green, 0.8);
  }
}

.row {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.simpleCard {
  background-color: $grey;
  width: 475px;
  padding: 0 40px;
  border-radius: 10px;
}

.simpleCardText {
  font-size: 20px;
  font-family: 'Acumin Bold', sans-serif;
}

.expectations {
  background-color: $grey;
  padding: 80px 0;
}

.borderedCardTitle {
  font-size: 24px;
  text-align: center;
}

.borderedCardSubtitle {
  font-size: 24px;
  color: $green;
  text-align: center;
}

.fullCenter {
  width: 100%;
  display: flex;
  justify-content: center;
}