@import "./src/variables";

.header {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navigate {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px
}

.link {
  text-decoration: none;
  font-size: 14px;
  color: $green;
  &:hover {
    cursor: pointer;
  }
}

.text {
  color: $green;
  font-size: 14px;
  &:hover {
    cursor: pointer;
  }
}

.btn {
  width: 210px;
  height: 47px;
  background-color: $grey;
}