@font-face {
  font-family: 'Acumin Regular';
  src: local('Acumin Regular'), url(./assets/fonts/Acumin-RPro.otf) format('opentype');
}

@font-face {
  font-family: 'Acumin Bold';
  src: local('Acumin Bold'), url(./assets/fonts/Acumin-BdPro.otf) format('opentype');
}

body {
  margin: 0;
  font-family: 'Acumin Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}